@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #E29BA7;
}

.site_header{
    position: sticky;
    top: 0;
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #121212;
}

a{
    text-decoration: none;
}

.title{
    color: #8BC5BF;
}
.title h1{
    font-weight: 900;
    font-size: 44px;
    margin-bottom: 0;
}
.title h3{
    font-weight: 400;
    margin-top: 0;
}
.title a{
    color: #8BC5BF;
}

.social{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
.social i{
    font-size: 54px;
    color: #E29BA7;
}

.resume{
    height: 50px;
    width: 120px;
    color: #E29BA7;
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume a{
    font-size: x-large;
    color: #E29BA7;
}

.about-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 5%
}
@media(min-width: 770px) {
    .about_information{
        display:flex;
        align-items: center;
        margin-bottom: 28vh;
        padding: 32px 5%
    }
}

.profile_image{
    display: flex;
    max-width: 250px;
    color: #E29BA7;
    border: 5px solid;
    border-radius: 50%;
    margin: 0 auto 48px auto;
    align-self: center;
}
@media(min-width: 770px) {
    .profile_image{
        margin-bottom:0;
        margin-right: 48px
    }
}

.about_text{
    color: #E29BA7;
    font-weight: 300;
    font-size: 30px;
    padding: 0 5%;
}
@media(min-width: 770px) {
    .about_text{
        padding: 0 0;
        font-size: 36px;
    }
}

.game_programming{
    padding-left: 5%;
    font-weight: 700;
    font-size: xx-large;
}