@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/*
--color: #121212
--color: #232323
--color: #E29BA7
--color: #8BC5BF
*/

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
}
a{
    text-decoration: none;
}

/* - FONTS - */
@media (max-width:375px) {
    h1{
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    h1{
        font-weight: 900;
        font-size: 44px;
        color: #8BC5BF;
        margin-bottom: 0;
    }
    h2{
        font-weight: 900;
        font-size: 36px;
        color: #8BC5BF;
        margin-left: 5%;
        margin-top: 16px;
    }
    h3{
        font-weight: 700;
        font-size: x-large;
        color: #E29BA7;
    }
    span{
        font-size: large;
        color: #8BC5BF;
    }
    p{
        font-weight: 500;
        font-size: 22px;
    }
}
@media (max-width: 768px) {
    h1{
        font-weight: 900;
        color: #8BC5BF;
        margin-bottom: 0;
    }
    h2{
        font-weight: 900;
        font-size: 32px;
        color: #8BC5BF;
        margin-left: 5%;
        margin-top: 16px;
    }
    h3{
        font-weight: 700;
        font-size: large;
        color: #E29BA7;
    }
    span{
        color: #8BC5BF;
    }
    p{
        font-weight: 500;
        font-size: 18px;
    }
}

/* - BODY - */
.site-header {
    position: sticky;
    top: 0;
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #121212;
    z-index: 999;
}
.reference {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
}
.reference i {
    font-size: 44px;
    color: #E29BA7;
}
.resume {
    height: 36px;
    width: 120px;
    color: #E29BA7;
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume span {
    color: #E29BA7;
}
.profile-image {
    max-width: 250px;
    color: #E29BA7;
    border: 5px solid;
    border-radius: 50%;
}
.about-information {
    padding-top: 64px;
}
.about-text {
    color: #E29BA7;
    font-weight: 300;
}
.game-programming {
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}
.portfolio-block {
    background-color: #232323;
    border-radius: 5px;
    overflow: hidden;
}
.portfolio-image img {
    width: 100%;
}
.portfolio-content {
    padding: 10px 5%;
    color: white;
}
.portfolio-title, .portfolio-arrow {
    margin: 0;
}
.title-game {
    display: flex;
    justify-content: space-between;
}
.title-game:hover h3{
    color: white;
}
.portfolio-role {
    color: #E29BA7;
}
.portfolio-description {
    margin-top: 16px;
    margin-bottom: 8px;
}
.portfolio-details {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #232323cc;
    position: sticky;
    margin-top: -50px;
    height: 50px;
    align-content: center;
}
.portfolio-details i {
    color: white;
}
.portfolio-details div {
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.portfolio-details span{
    margin-left: 5px;
    color: white;
}
.education {
    padding: 0 5%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.hanze, .school {
    background-color: #232323;
    border-radius: 5px;
    text-align: center;
}
.experience ul{
    padding: 0 5%;
    list-style-type: none;
    overflow: hidden;
    font-size: x-large;
    padding-bottom: 5%;
}
.experience li{
    padding: 5px 5px;
    color: #E29BA7;
    float: left;
    margin: 0 5px;
    border: 1px solid;
    border-radius: 5px;
}
.site-footer {
    background: #8BC5BF;
    color: #121212;
    padding-bottom: 1px;
}
.presentation {
    padding-top: 25px;
    color: #121212;
}
.presentation-text {
    margin: 0 10%;
}
@media (min-width: 768px) {
    .about-information {
        display: flex;
        margin: 20px 5%;
        align-items: center;
        padding-bottom: 64px;
    }
    .profile-image {
        margin-right: 75px;
    }
    .about-text {
        font-size: 34px;
    }
    .game-programming {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;
    }
    .portfolio-block {
        width: calc(50% - 8px);
    }
    .education {
        justify-content: center;
        margin-bottom: 64px;
    }
    .hanze, .school {
    width: calc(50% - 8px);
}
    .education h3 {
        font-weight: 700;
        font-size: x-large;
    }
}
@media (max-width: 768px) {
    .about-information {
        display: flex;
        flex-direction: column;
        margin: 20px 5%;
        align-items: center;
    }
    .about-text {
        font-size: 28px;
    }
    .game-programming {
        flex-direction: column;
        align-items: center;
    }
    .portfolio-block {
        width: 100%;
    }
    .education {
        flex-direction: column;
    }
    .hanze, .school {
    width: 100%;
}
    .education h3 {
        font-weight: 700;
        font-size: large;
    }
}

/*portfolio*/
.go-back {
    float: left;
    padding: 10px 5%;
}
.go-back:hover h3{
    color: white;
}
.game-gif {
    padding: 0 5%;
    padding-bottom: 15px;
}
.game-gif img {
    width: 100%;
}
.game-name {
    background-color: #232323cc;
    position: sticky;
    margin-top: -75px;
    height: 75px;
    align-content: center;
}
.game-data {
    display: flex;
    padding: 0 5%;
    align-items: top;
    gap: 15px;
    padding-bottom: 32px;
}
.game-about, .game-info {
    background-color: #232323;
    border-radius: 5px;
    padding: 5px 5%;
}
.game-team {
    font-weight: 500;
    padding-bottom: 25px;
}
.game-team div {
    padding-bottom: 10px;
}
.game-team i {
    padding-right: 10px;
}
.introduction, .my-work, .learned {
    padding-bottom: 32px;
}
.introduction p , .my-work p, .learned p{
    padding: 0 5%;
}
.game-images {
    display: flex;
    padding: 10px 5%;
    gap: 15px;
}
.game-images img {
    border-radius: 5px;
}
@media (min-width: 768px) {
    .game-team {
        font-size: 22px;
    }
    .game-about, .game-info {
        width: calc(50% - 8px);
    }
    .game-images {
        flex-direction: row;
    }
    .game-images img {
        width: calc(50% - 8px);
    }
}
@media (max-width: 768px) {
    .game-data {
        flex-direction: column;
    }
    .game-team {
        font-size: 18px;
    }
    .game-images {
        flex-direction: column;
    }
    .game-images img {
        width: 100%;
    }
}